<h1>Post an Item</h1>

<%= simple_form_for(@item, :html => {:class => 'form-horizontal', :multipart => true}) do |f| %>
  <% if @item.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @item.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :name %>
  <input type="file" name="upload[img1]" accept="image/*">
  <%= f.input :price %>
  <%= f.input :quantity %>
  <%= f.input :description %>
  <%= f.input :tickthres_min %>
  <%= f.input :tickthres_max %>
  <%= f.input :tickbuy_min %>
  <%= f.input :tickbuy_max %>
  <%= f.input :shipping %>
  <%= f.input :close_date %>
  <%= f.button :submit %>
<% end %>