

<h1>Post an Item</h1>

<%= simple_form_for(@item, :html => {:class => 'form-horizontal', :multipart => true}) do |f| %>
  <% if @item.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @item.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :name %>
  <div id="uploadmore"><input type="file" name="upload[img1]" accept="image/*"></div>
  <input type="button" id="addimg" value="Add another image">
  <%= f.input :price %>
  <%= f.input :quantity %>
  <%= f.input :description %>
  <%= f.input :tickthres_min %>
  <%= f.input :tickthres_max %>
  <%= f.input :tickbuy_min %>
  <%= f.input :tickbuy_max %>
  <%= f.input :shipping %>
  <%= f.input :close_date %>
  <%= f.button :submit %>
<% end %>

<script type="text/javascript">
  var num = 1, max = 5;
  $('#addimg').click(function() {
    num++;
    if (num <= max) {
      $('#uploadmore').append("<br /><input type=\"file\" name=\"upload[img" + num + "]\" accept=\"image/*\">");
      if (num >= 5)
        $('#addimg').hide();
    }
  });
</script>