<% provide(:title, @item.name) %>
<h1><%= @item.name %></h1>

<%= button_to "Buy Ticket", {:controller => :items, :action => :buyticket, :id => params[:id]}, {:class => "button", :method => :put, remote: true  , :confirm => "Confirm Buying a Ticket"}  %>
<% if @ticket.length != 0 %>
<span class="success label">You currently have <div class="numtick"><%= @ticket.length %></div> <%=  ('ticket').pluralize %>.</span>
</p>
<% end %>
<% @photos.each do |photo| %>
	<img src="<%= "#{ActionController::Base.relative_url_root}/images/#{photo}" %>" />
<% end %>
<p><b>Price:</b> <%= @item.price %></p>
<p><b>Quantity:</b> <%= @item.quantity %></p>
<p><b>Description:</b> <%= @item.description %></p>
<p><b>Shipping:</b> <%= @item.shipping %></p>
<p><b>Close Date:</b> <%= @item.close_date %></p>
<p><b>Max - Min Tickets In Total:</b> <%= @item.tickthres_min %> - <%= @item.tickthres_max %></p>
<p><b>Max - Min Tickets Allowed per Person:</b> <%= @item.tickbuy_min %> - <%= @item.tickbuy_max %></p>
<br />
<% if @item.close_date < Date.today %>
    <p><b>Winning ID:</b> <%= random_num %></p>
<% end %>
