<% provide(:title, @item.name) %>
<h1><%= @item.name %></h1>
<p>
    <div class="row">
<div class="large-4 columns">
<h4>Seller: <%= link_to @seller, users_path+"/#{@item.user_id}" %></h4>
<p>Tickets Bought: <%= @ticketsold.length %> | Chance of Winning: <%= (1.to_f/@ticketsold.length*100).round(2) %>%</p>
</div>
<div class="large-7 columns">
    <p><b>Price:</b> <span class="price"><%= @item.price %></span></p>
    <p><b>Close Date:</b> <%= @item.close_date %></p>
</div>
</div>
<% if @item.winning_ticket %>
    <input value="Closed!" class="button disabled" style="background-color: #777; border-color: transparent; width: 150px;">
<% else %>

    <%= button_to "Buy Ticket", {:action => :buyticket, :id => params[:id]}, {:class => "button", :method => :put , remote: true , :confirm => "Confirm Buying a Ticket"}  %>

    <% if @ticket.length != 0 %>
    <span class="success label" style="font-size: 27px;">You currently have <span class="numtick"><%= @ticket.length %></span> <%=  ('ticket').pluralize %>.</span>
    </p>
    <% end %>
<% end %>
</p>
<p>
<div class="homeimage1">
<% @photos.each do |photo| %>
	<div class="homeone1"><%= link_to image_tag("/images/#{photo}", :size => "300x300") ,"/images/#{photo}" ,:rel => "lightbox"%></div>
<% end %>
</div>
</p>


<p><b>Quantity:</b> <%= @item.quantity %></p>
<p><b>Description:</b> <%= @item.description %></p>
<p><b>Shipping:</b> <%= @item.shipping %></p>
<p><b>Max - Min Tickets In Total:</b> <%= @item.tickthres_min %> - <%= @item.tickthres_max %></p>
<p><b>Max - Min Tickets Allowed per Person:</b> <%= @item.tickbuy_min %> - <%= @item.tickbuy_max %></p>
<br />

<!-- <p><div id="number2" class="count"></div></p> -->
<p>
<% if @item.close_date <= Date.today %>
    <p><b>Winning ID:</b> <%= random_num(@item.id) %></p>
<% end %>
</p>
<% if current_user.id == 1 %>
<button class="admin"> Admin Panel </button>
<div class="adminpanel">
	<p>Winning Ticket: <%= @item.winning_ticket %></p>
	<%= button_to "Generate", {:action => :random_num1, :id => params[:id]}, {:class => "button", :method => :put , remote: true , :confirm => "Confirm Generate Winning Ticket"}  %>
    <p>
        <%= button_to "Give Money", {:action => :givemoney, :id => params[:id]}, {:class => "button", :method => :put , remote: true}  %>
    </p>
</div>
<% end %>

<script type="text/javascript">
//   counts = {};

//   function format_number(text){
//     return text.replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
//   };

//   function magic_number(element_name, value) {
//     var elem = $(element_name);
//     var current = counts[element_name] || 0;
//     $({count: current}).animate({count: value}, {
//         duration: 100,
//         step: function() {
//             elem.text(format_number(String(parseInt(this.count))));
//         }});
//     counts[element_name] = value;
//   };

//   function update() {
//     magic_number("#number2", Math.floor(Math.random() * <%= @ticketsold.length %>));
//   };

//   $(function() {
//       var intervalID = setInterval(function() {
//           update()
//       }, 100);
//       setTimeout(function() {
//           clearInterval(intervalID);
//       }, 4000);
//   });
// </script>
<style>/*#number2{font-size:500%;}.total{width:100%;}.label{color:#6aa135;font-size:24px;padding-top:10px;padding-bottom:10px;font-family:Georgia,"Times New Roman",Times,serif;font-style:italic;}.count{text-shadow:0 -1px 0 #72a441;color:#8cce5b;font-weight:700;}#position{display:table-cell;vertical-align:middle;text-align:center;}*/</style>

<script type="text/javascript">
    $('.admin').click(function(){
        $('.adminpanel').slideToggle();
    });
</script>